:root{
    --bgcolor: #000000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgb(0, 0, 0) 100%);
    color: white;
    
}

.headerdiv{
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 5rem;
    align-items: center;
    background: linear-gradient(rgba(0,0,0,1) 0%, rgba(0,0,0,0));
    padding: 1rem 2rem;
    z-index: 100;
}

.logohbo{
    display: flex;
    position: absolute;
    height: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

.burgermenu{
    height: 1.5rem;
}

.itensmenu{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: var(--bgcolor);
    top: 0;
    left: -14rem;
    padding: 1.7rem;
    padding-right: 5rem;
    list-style: none;
}

.menu{
    display: flex;
}

.menuback{
    height: 1.5rem;
    width: min-content;
    margin-bottom: 1rem;
}

.itensmenu li{
    padding: 1.3rem 0;
}

.itensmenu li a{
    text-decoration: none;
    color: #E5E5E5;
}

.itensmenu img{
    width: 2rem;
}

.iconsright{
    display: flex;
    flex-direction: row;
}

.iconsright img{
    height: 1.5rem;
}

.contentslider1{
    display: flex;
    position: relative;
    flex-direction: row;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.contentslider1 img{
    scroll-snap-align: start;
    width: 100%;
    position: relative;
    z-index: -1;
}

.itemslider{
    display:contents;
    position: relative;
    
}
.textmainslider{

    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100vw;
    padding: 1rem;
    text-align: center;
    gap: 0.5rem;
    bottom: 0;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
}

.textmainslider h3{
    font-size: 1rem;
}

.textmainslider p{
    font-size: 1rem;
}

.goleft{
    display: flex;
    position: absolute;
    left: 0;
    height: 37.5rem;
    align-items: center;
    width: 3rem;
    justify-content: center;
    z-index: 5;
}

.goright{
    display: flex;
    position: absolute;
    right: 0;
    height: 37.5rem;
    align-items: center;
    width: 3rem;
    justify-content: center;
    z-index: 5;
}

.goleft img, .goright img{
    height: 1.5rem;
}

.controlslider{
    display: flex;
    gap: 1rem;
    width: min-content;
    margin: 1rem auto;
}

.controlop{
    width: 0.5rem;
    height: 0.5rem;
    background-color: #808080;
    border-radius: 50px;
}

.slider2 {
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.textslider h1{
    font-size: 0.92rem;
}

.textslider p{
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.8);
}

.contentslider2 {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.contentslider2 img{
    width: 40%;
    margin: 1rem 1rem 2rem 0;    
}

.featuredcall img{
    width: 100%;
    margin-bottom: 0.6rem;
}

.textfeatured{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.textfeatured h2{
    font-size: 1rem;
}

.textfeatured p{
    font-size: 0.7rem;
    width: 85%;
    margin: 0 auto;
}

.featuredcall button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
    text-align: center;
    background-image: linear-gradient(1.5708rad, rgb(117, 62, 239) 25%, rgb(185, 8, 246) 100%);
    border-radius: 5px;
    color: white;
    padding: 0.9rem 1.4rem;
    font-weight: 700;
    gap: 5px;
}

.featuredcall button img{
    width: 1.3rem;
    height: auto;
    padding: 0;
    margin: 0;
}

.featuredcall button p{
    padding: 0;
    margin: 0;
}

/* ANIMATION */
.togglemenu{
    left: 0;
    animation: openclose 0.2s linear both;
}

@keyframes openclose {
    from {
        transform: translateX(-14rem);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 100;
    }
}

.slider3{
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.slider3 h3{
    font-size: 0.92rem;
}

.contentslider3 {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    gap: 1rem;
    margin: 1rem 0;
}

.items3{
    display: flex;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.8rem;
}

.items3 a{
    width: auto;
    height:fit-content;
}

.items3 img{
    width: 10rem;
}