:root{
    --bgcolor: #000000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgb(0, 0, 0) 100%);
    color: white;
    
}

.headerdiv{
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background: linear-gradient(rgba(0,0,0,1) 0%, rgba(0,0,0,0));
    padding: 1rem 2rem;

}

.logohbo{
    height: 1rem;
}

.burgermenu{
    height: 1.5rem;
}

.itensmenu{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: var(--bgcolor);
    top: 0;
    left: -14rem;
    padding: 1.7rem;
    padding-right: 5rem;
    list-style: none;
}

.menuback{
    height: 1.5rem;
    width: min-content;
    margin-bottom: 1rem;
}

.itensmenu li{
    padding: 1.3rem 0;
}

.itensmenu li a{
    text-decoration: none;
    color: #E5E5E5;
}

.iconsright{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    width: min-content;
}

.iconsright img{
    height: 1.5rem;
}

.contentslider1{
    display: flex;
    position: relative;
    flex-direction: row;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.contentslider1 img{
    scroll-snap-align: start;
    width: 100%;
    position: relative;
    z-index: -1;
}

.itemslider{
    display:contents;
    position: relative;
    
}
.textmainslider{

    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100vw;
    padding: 1rem;
    text-align: center;
    gap: 0.5rem;
    bottom: 0;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
}

.textmainslider h3{
    font-size: 1rem;
}

.textmainslider p{
    font-size: 1rem;
}

.goleft{
    display: flex;
    position: absolute;
    left: 0;
    height: 37.5rem;
    align-items: center;
    width: 3rem;
    justify-content: center;
    z-index: 5;
}

.goright{
    display: flex;
    position: absolute;
    right: 0;
    height: 37.5rem;
    align-items: center;
    width: 3rem;
    justify-content: center;
    z-index: 5;
}

.goleft img, .goright img{
    height: 1.5rem;
}

.controlslider{
    display: flex;
    gap: 1rem;
    width: min-content;
    margin: 1rem auto;
}

.controlop{
    width: 0.5rem;
    height: 0.5rem;
    background-color: #808080;
    border-radius: 50px;
}

.slider2 {
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.textslider h1{
    font-size: 0.92rem;
}

.textslider p{
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.8);
}

.contentslider2 {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.contentslider2 img{
    width: 40%;
    margin: 1rem 1rem 0 0;    
}