:root{
    --bgcolor: #000000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
    
}

.headerdiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: var(--bgcolor);
    padding: 1rem 2rem;

}

.logohbo{
    height: 1rem;
}

.burgermenu{
    height: 1.5rem;
}

.itensmenu{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: var(--bgcolor);
    top: 0;
    left: 0;
    padding: 1.7rem;
    padding-right: 5rem;
    list-style: none;
}

.menuback{
    height: 1.5rem;
    width: min-content;
    margin-bottom: 1rem;
}

.itensmenu li{
    padding: 1.3rem 0;
}

.itensmenu li a{
    text-decoration: none;
    color: #E5E5E5;
}

.iconsright{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    width: min-content;
}

.iconsright img{
    height: 1.5rem;
}

